@import url('https://fonts.googleapis.com/css?family=Montserrat');

body {
  margin: 0;
  font-family: Montserrat, sans-serif;
  background: hsl(0, 0%, 99%);
  color: hsl(0, 0%, 1%);
}

hr {
  width: 100%;
}

button {
  color: white;
  background: hsl(240, 100%, 50%);
  border: 1px solid hsl(240, 100%, 30%);
  cursor: pointer;
  font-size: 1em;
}

button:hover {
  background: linear-gradient(hsl(240, 100%, 50%), hsl(240, 100%, 30%));
}

button:active {
  scale: 96%;
}

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: left;
  width: 500px;
  max-width: 500px;
  border: 1px solid black;
  border-radius: 5px;
  padding: 7px 14px 14px 14px;
  margin: 10px 0;
  white-space: pre-wrap;
}

.card,
p {
  line-height: 24px;
}

.card > div {
  margin-bottom: 12px;
}

.inherit-width {
  width: inherit;
}

@media screen and (max-width: 632px) {
  .card {
    width: 80vw;
  }
}
