@import url('https://fonts.googleapis.com/css?family=Montserrat');

body {
  margin: 0;
  font-family: Montserrat, sans-serif;
}

hr {
  width: 100%;
}

button {
  cursor: pointer;
  font-size: 1em;
}

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.light {
  background: hsl(0, 0%, 99%);
  color: hsl(0, 0%, 1%);
}

.light > .card {
  border: 1px solid black;
}

.dark {
  background: hsl(0, 0%, 3%);
  color: hsl(0, 0%, 90%);
}

.dark > .card {
  border: 1px solid hsl(0, 0%, 90%);
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: left;
  width: 500px;
  max-width: 500px;
  border-radius: 5px;
  padding: 7px 14px 14px 14px;
  margin: 10px 0;
  white-space: pre-wrap;
}

.card,
p {
  line-height: 24px;
}

.card > div {
  margin-bottom: 12px;
}

.prime {
  color: hsl(39, 100%, 80%);
  background: hsl(240, 100%, 50%);
  border: 1px solid hsl(240, 100%, 30%);
  border-radius: 4px;
}

.prime:hover {
  background: linear-gradient(hsl(240, 100%, 50%), hsl(240, 100%, 30%));
}

.prime:active {
  scale: 96%;
}

.moon-btn {
  background: hsl(0, 0%, 4%);
  border: 1px solid black;
  border-radius: 6px;
  padding: 4px 6px;
  position: relative;
  bottom: 42px;
  left: 140px;
  margin-bottom: -30px;
}

.inherit-width {
  width: inherit;
}

.btns > button {
  margin: 0 15px;
}

@media screen and (max-width: 632px) {
  .card {
    width: 80vw;
  }
}

@media screen and (max-width: 340px) {
  .moon-btn {
    left: 115px;
  }
}
